html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(keyword="")
    meta(description="")

    block title
      title default

    block link
      link(rel="stylesheet", href="./css/style.css")
  body

  block wrap
    .wrap

      include ./_header

      main.main
        block main

        .content
          block content

      include ./_footer

    script(src="./js/bundle.js")