extend ../_include/_layout

block title
  title about

block link
  link(rel="stylesheet", href="../css/style.css")

block main
  h1.main__title First Title

block content
  section.section
    h2.section__title Second Title
    p.section__desc Description