@import './base/reset';
@import './base/valiable';
@import './base/layout';
@import './components/header';
@import './components/footer';

.main {
  flex-grow: 1;
  padding: 20px;
  color: $gray;
  text-align: center;

  &__title {
    margin-bottom: 40px;
    font-size: 40px;
  }
}

.section {
  margin-bottom: 40px;

  &__title {
    margin-bottom: 32px;
    font-size: 32px;
  }
}